<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>GrandPerspective</string>
	<key>CFBundleIconFile</key>
	<string>GrandPerspective.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.grandperspectiv</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>GrPe</string>
	<key>CFBundleVersion</key>
	<string>26</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.2</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleHelpBookFolder</key>
	<string>GrandPerspectiveHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>GrandPerspective Help</string>

	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.grandperspectiv.scandump</string>
			</array>
			<!-- For redundancy, also declare icon and file
			 extension here, even though it is also done 
			 by UTExportedTypeDeclarations. -->
			<key>CFBundleTypeIconFile</key>
			<string>GrandPerspectiveScan.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gpscan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>

	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>GrandPerspective/Scan Folder</string>
			</dict>
			<key>NSMessage</key>
			<string>scanFolder</string>
			<key>NSPortName</key>
			<string>GrandPerspective</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>GrandPerspective/Load Scan Data</string>
			</dict>
			<key>NSMessage</key>
			<string>loadScanData</string>
			<key>NSPortName</key>
			<string>GrandPerspective</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>

	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GrandPerspective scan results</string>
			<key>UTTypeIconFile</key>
			<string>GrandPerspectiveScan.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.grandperspectiv.scandump</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpscan</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>GPWebsiteURL</key>
	<string>http://grandperspectiv.sourceforge.net</string>
	<key>GPApplicationDefaults</key>
	<dict>
		<key>fileDeletionTargets</key>
		<string>delete nothing</string>
		<key>confirmFileDeletion</key>
		<true/>
		<key>confirmFolderDeletion</key>
		<true/>
		<key>defaultRescanAction</key>
		<string>rescan all</string>
		<key>logAll</key>
		<false/>
		<key>logScanning</key>
		<false/>
		<key>rescanBehaviour</key>
		<string>keep old window</string>
		<key>progressPanelRefreshRate</key>
		<real>0.25</real>
		<key>defaultColorPalette</key>
		<string>CoffeeBeans</string>
		<key>defaultColorGradient</key>
		<real>0.5</real>
		<key>defaultColorMapping</key>
		<string>folder</string>
		<key>defaultFilter</key>
		<string>No hard-links</string>
		<key>fileSizeMeasure</key>
		<string>logical</string>
		<key>uniformTypesRanking</key>
		<array>
			<string>unknown</string>
			<string>public.movie</string>
			<string>public.audio</string>
			<string>public.image</string>
			<string>public.archive</string>
			<string>com.apple.application</string>
			<string>com.apple.bundle</string>
			<string>com.apple.plugin</string>
			<string>com.apple.systempreference.prefpane</string>
			<string>com.apple.installer-package</string>
			<string>com.apple.package</string>
			<string>public.executable</string>
			<string>public.font</string>
			<string>public.log</string>
			<string>public.source-code</string>
			<string>public.text</string>
			<string>com.adobe.pdf</string>
			<string>com.adobe.postscript</string>
			<string>com.apple.iwork.keynote.key</string>
			<string>public.contact</string>
			<string>public.calendar-event</string>
			<string>public.message</string>
			<string>com.apple.property-list</string>
		</array>
		<key>updateFiltersBeforeUse</key>
		<true/>
		<key>showPackageContentsByDefault</key>
		<false/>
		<key>defaultViewWindowWidth</key>
		<real>640</real>
		<key>defaultViewWindowHeight</key>
		<real>480</real>
	</dict>
	<key>GPDefaultFilters</key>
	<dict>
		<key>No hard-links</key>
		<dict>
			<key>tests</key>
			<array>
				<dict>
					<key>name</key>
					<string>Hard-linked items</string>
					<key>inverted</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>No version control</key>
		<dict>
			<key>tests</key>
			<array>
				<dict>
					<key>name</key>
					<string>Version control</string>
					<key>inverted</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>GPDefaultFilterTests</key>
	<dict>
		<key>Hard-linked items</key>
		<dict>
			<key>class</key>
			<string>ItemFlagsTest</string>
			<key>desiredResult</key>
			<integer>2</integer>
			<key>flagsMask</key>
			<integer>2</integer>
		</dict>
		<key>Tiny files</key>
		<dict>
			<key>class</key>
			<string>SelectiveItemTest</string>
			<key>onlyFiles</key>
			<true/>
			<key>subTest</key>
			<dict>
				<key>class</key>
				<string>ItemSizeTest</string>
				<key>upperBound</key>
				<integer>1024</integer>
			</dict>
		</dict>
		<key>Small files</key>
		<dict>
			<key>class</key>
			<string>SelectiveItemTest</string>
			<key>onlyFiles</key>
			<true/>
			<key>subTest</key>
			<dict>
				<key>class</key>
				<string>ItemSizeTest</string>
				<key>lowerBound</key>
				<integer>1024</integer>
				<key>upperBound</key>
				<integer>10240</integer>
			</dict>
		</dict>
		<key>Medium files</key>
		<dict>
			<key>class</key>
			<string>SelectiveItemTest</string>
			<key>onlyFiles</key>
			<true/>
			<key>subTest</key>
			<dict>
				<key>class</key>
				<string>ItemSizeTest</string>
				<key>lowerBound</key>
				<integer>10240</integer>
				<key>upperBound</key>
				<integer>1048576</integer>
			</dict>
		</dict>
		<key>Large files</key>
		<dict>
			<key>class</key>
			<string>SelectiveItemTest</string>
			<key>onlyFiles</key>
			<true/>
			<key>subTest</key>
			<dict>
				<key>class</key>
				<string>ItemSizeTest</string>
				<key>lowerBound</key>
				<integer>1048576</integer>
				<key>upperBound</key>
				<integer>104857600</integer>
			</dict>
		</dict>
		<key>Huge files</key>
		<dict>
			<key>class</key>
			<string>SelectiveItemTest</string>
			<key>onlyFiles</key>
			<true/>
			<key>subTest</key>
			<dict>
				<key>class</key>
				<string>ItemSizeTest</string>
				<key>lowerBound</key>
				<integer>104857600</integer>
			</dict>
		</dict>
		<key>Images</key>
		<dict>
			<key>class</key>
			<string>SelectiveItemTest</string>
			<key>onlyFiles</key>
			<true/>
			<key>subTest</key>
			<dict>
				<key>class</key>
				<string>ItemTypeTest</string>
				<key>matches</key>
				<array>
					<string>public.image</string>
				</array>
				<key>strict</key>
				<false/>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>class</key>
			<string>SelectiveItemTest</string>
			<key>onlyFiles</key>
			<true/>
			<key>subTest</key>
			<dict>
				<key>class</key>
				<string>ItemTypeTest</string>
				<key>matches</key>
				<array>
					<string>public.audio</string>
				</array>
				<key>strict</key>
				<false/>
			</dict>
		</dict>
		<key>Version control</key>
		<dict>
			<key>class</key>
			<string>SelectiveItemTest</string>
			<key>onlyFiles</key>
			<false/>
			<key>subTest</key>
			<dict>
				<key>class</key>
				<string>ItemNameTest</string>
				<key>stringTest</key>
				<dict>
					<key>caseSensitive</key>
					<false/>
					<key>class</key>
					<string>StringEqualityTest</string>
					<key>matches</key>
					<array>
						<string>CVS</string>
						<string>.svn</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>Packages</key>
		<dict>
			<key>class</key>
			<string>ItemFlagsTest</string>
			<key>desiredResult</key>
			<integer>4</integer>
			<key>flagsMask</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
